<div class="column">
	<div class="ui segments">
		<div class="ui segment">
			<a href="{{ route('profiles.parking_access.get_create_new_parking_access', {profile: profile.id}) }}" class="ui small basic right floated icon button" data-tooltip="{{ 'profiles.show.access_service.add'|trans }}">
				{{ misc.iconFA('add', { 'color' : 'var(--main-color)'}) }}
			</a>

			<h2 class="ui header" style="margin: 0;">
				{{ misc.iconFA('universal access', { 'color' : 'var(--main-color--light)'}) }}
				<div class="content">{{ 'profiles.show.access_service.title'|trans }}
					<div class="sub header"> {{ 'profiles.show.access_service.subtitle'|trans }}</div>
				</div>
			</h2>
		</div>
		<div class="ui segment">
			<div class="ui basic segment">
				<div class="content">
					<table class="ui celled table">
						<thead class="full-width">
						<tr>
							<th>{{ 'profiles.show.access_service.parking'|trans }}</th>
							<th>{{ 'profiles.show.access_service.access'|trans }}</th>
							<th>{{ 'profiles.show.access_service.budget'|trans }}</th>
							<th>{{ 'profiles.show.access_service.credit'|trans }}</th>
							<th>{{ 'profiles.show.access_service.valid_from'|trans }}</th>
							<th>{{ 'profiles.show.access_service.valid_to'|trans }}</th>
							<th style="width: 1px;">{{ 'profiles.show.access_service.action'|trans }}</th>
						</tr>
						</thead>
						<tbody>
						{% for access_service_beneficiary in access_service_beneficiaries %}
							{% set accessService = access_service_beneficiary.access_service %}
							{% set parkingSpotTenants = accessService.parking_spot_group.parkingSpotTenant %}
							<tr class="center aligned">
								<td>
									{% set parkings = [] %}
									{% for parkingSpotTenant in parkingSpotTenants %}
										{% if parkingSpotTenant.parkingSpot.parking.name(registered_user_language) not in parkings %}
											{{ parkingSpotTenant.parkingSpot.parking.name(registered_user_language) }} <br>
											{% set parkings = parkings|merge([parkingSpotTenant.parkingSpot.parking.name(registered_user_language)]) %}
										{% endif %}
									{% endfor %}
								</td>
								<td>
									{{ accessService.getPublicName(registered_user_language) }}<br>
								</td>
								<td>
									{% if accessService.cost_required %}
										{{ access_service_beneficiary.getBudgetProfil().name|default('No profil!') }}
										<br>
										{{ 'profiles.show.access_service.budget_days_limit'|trans({'days_limit' : access_service_beneficiary.getBudgetProfil().days_limit.days_limit | default('0') } ) }}
									{% else %}
										-
									{% endif %}
								</td>
								<td>
									{#
									{% if wallets[parking.id] is defined and accessService.cost_required %}
										{{ wallets[parking.id] }}
									{% else %}
										-
									{% endif %}
									#}
								</td>
								<td>
									{{ access_service_beneficiary.valid_from|date("d/m/Y H:i") }}
								</td>
								<td>
									{% if access_service_beneficiary.valid_to != null %}
										{{ access_service_beneficiary.valid_to|date("d/m/Y H:i") }}
									{% else %}
										-
									{% endif %}
								</td>
								<td>
									<div class="ui mini buttons">
										<a href="{{ route('profiles.parking_access.get_delete_parking_access', {accessService: access_service_beneficiary.id }) }}" class="ui button mini"
										   data-tooltip="{{ 'profiles.show.access_service.delete_tooltip'|trans }}">
											{{ 'profiles.show.access_service.delete'|trans }}
										</a>
										<div class="or"></div>
										<a href="{{ route('profiles.parking_access.get_edit_parking_access', { profile: profile.id, accessService: access_service_beneficiary.id }) }}"
										   class="ui blue admin-bp-btn--success button mini" data-tooltip="{{ 'profiles.show.access_service.edit_tooltip'|trans }}">
											{{ 'profiles.show.access_service.edit'|trans }}
										</a>
									</div>
								</td>
							</tr>
						{% else %}
							<tr class="center aligned">
								<td colspan="3" class="no-data">
									{{ 'profiles.show.access_service.no_data'|trans }}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
